.row {
    width: auto;
    margin: 0;
    max-width: none;
    display: inline;
}

.itemcontainer {
    border: 1px solid #999;
    padding: 12px;
    overflow: hidden;
    height: 100%;
    position: relative;
}


.imagecontainer {
    padding: 0;
    overflow: hidden; 
    background-size: cover;
    background-position: center top;
    position: relative;
    width: 100%;
    height: 60%;
}

.imagecontainer hr {
    border: solid #ddd ;
    border-width: 1px 0 0;
    margin: 1.23rem 0 1.1875rem;
    height: 0;
}

.itemcontainer hr {
    border: solid #ddd;
    border-width: 2px 0 0;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}

.workcontent {
    font-size: .8rem;
}

.card-title {
    color: black;
}

.card-subtitle {
    color: #999;
}

a {
    text-decoration: none;
}

/* .noimage {
    background-color: #f1f1f1;
    height: 62%
} */
