.searchResultsImg {
    min-height:190px;
    padding:3px
}

.medium-4 {
    width: 33.3333333%
}

.columns {
    position: relative;
    float: left;
}

.itemcontainer {
    border: 1px solid black;
    padding: 12px;
    min-height: 560px;
    max-height: 560px
    /* overflow: hidden; */
}

.row {
    width: auto;
    margin: 0;
    max-width: none;
}

/* .imagecontainer {
     overflow: hidden; 
} */

/* .noimage {
    background-color: #f1f1f1;
    height: 62%
} */
